@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
	height: 100%;
	width: 100%;
	font-family: "Poppins", sans-serif !important;
	background-color: #F4F4EF !important;
}

a {
	text-decoration: none;
	color: #666;
}

.container {
	margin-bottom: 5%;
}

.container h1 {
	margin-bottom: 50px;
}
/* --- Banner -------------------------- */
#banner {
	width: 100%;
	height: 70%;
	/* background: url() 0 0 repeat; */
	background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url(https://images.unsplash.com/photo-1600513513581-1b093ebb3aab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)
			0 100% no-repeat;
	background-attachment: fixed;
	position: relative;
}

#banner #overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(img/overlay.png) 0 100% repeat-x;
}

#hero {
	width: 100%;
	position: absolute;
	bottom: 10%;
	z-index: 5;
	text-align: center;
}

#hero img {
	cursor: pointer;
	display: inline-block;
	width: 128px;
	height: 128px;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

#hero img:hover {
	border: 3px solid rgba(255, 255, 255, 0.7);
}

#hero h1 {
	margin: 0 auto;
	text-align: center;
	font-size: 80px;
	color: #eee;
	/* text-shadow: 1px 1px 1px #000, 1px 2px 3px #555; */
}

#hero #keterangan {
	display: block;
	width: 100%;
	text-align: center;
	margin: 5px auto;
	color: #eee;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;
}

/* --- Gallery ------------------------- */
/* .gallery {
	position: relative;
	display: flex;
	justify-content: space-between; 
	 align-items: center;
} */



/* .content {
	position: relative;
	padding: 36px 32px 36px 48px;
	box-sizing: border-box;
} */

.blog h1{
	color: rgb(218,165,33);
	font-size: 3.8em;
	font-weight: 600;
	margin-bottom: 32px;
	margin-top: 32px;
	/* font-family: 'Herr Von Muellerhoff', cursive; */
	text-align: center;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0; */
}

.blog p {
	color: #444;
	font-size: 1.2em;
	font-weight: 300;
	margin-bottom: 12px;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 1.6s;
    opacity: 0; */
}

.gallery h1{
	color: rgb(218,165,33);
	font-size: 3.8em;
	font-weight: 600;
	margin-bottom: 32px;
	margin-top: 32px;
	/* font-family: 'Herr Von Muellerhoff', cursive; */
	text-align: center;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0; */
}

.gallery h2 {
	color: #444;
	font-size: 1.8em;
	font-weight: 400;
	margin-bottom: 16px;
	left: 0%;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0; */
}

.gallery p {
	color: #444;
	font-size: 1.2em;
	font-weight: 300;
	margin-bottom: 12px;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 1.6s;
    opacity: 0; */
}

.gallery .img-content-left {
	position: relative;
	padding-right: 100px;
	float: left;

	color: #444;
	font-size: 1.2em;
	font-weight: 400;
	margin-bottom: 12px;


	/* animation: fade-in 0.8s ease-in forwards;
    animation-delay: 3.8s;
    opacity: 0; */
}

.gallery .img-content-right {
	position: relative;
	padding-left: 100px;
	float: right;

	color: #444;
	font-size: 1.2em;
	font-weight: 400;
	margin-bottom: 12px;
	/* animation: fade-in 0.8s ease-in forwards;
    animation-delay: 3.8s;
    opacity: 0; */
}

.card-photo{
	float: left;
	margin-right: 28px;
	width: 20rem;
	position: relative;
	/* display: flex; */
}
.photo-left {
	float: left;
	padding-right: 32px;
	
}
.photo-right {
	padding-left: 32px;
	float: right;
}
.gallery img {
	max-width: 500px;
	width: 100%;
	margin-bottom: 32px;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.visimisi .img-visi-misi {
	max-width: 700px;
	width: 100%;
	margin-bottom: 32px;
	/* display: block;
	margin-left: auto;
	margin-right: auto; */
	vertical-align: middle
}


.visimisi h1{
	color: rgb(218,165,33);
	font-size: 3.8em;
	font-weight: 600;
	margin-bottom: 32px;
	margin-top: 32px;
	/* font-family: 'Herr Von Muellerhoff', cursive; */
	text-align: center;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0; */
}

.visimisi td{
	color: #444;
	font-size: 1.2em;
	font-weight: 300;
	padding-bottom: 12px;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 1.6s;
    opacity: 0; */
}

.visimisi .judul {
	color: #444;
	font-size: 1.8em;
	font-weight: 400;
	margin-bottom: 16px;
	left: 0%;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0; */
}

.visimisi ul{
	list-style-type: circle;
}

.video h1{
	color: rgb(218,165,33);
	font-size: 3.8em;
	font-weight: 600;
	margin-bottom: 32px;
	margin-top: 32px;
	/* font-family: 'Herr Von Muellerhoff', cursive; */
	text-align: center;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0; */
}

.about h1{
	color: rgb(218,165,33);
	font-size: 3.8em;
	font-weight: 600;
	margin-bottom: 32px;
	margin-top: 32px;
	/* font-family: 'Herr Von Muellerhoff', cursive; */
	text-align: center;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0; */
}


.about p {
	color: #444;
	font-size: 1.2em;
	font-weight: 300;
	margin-bottom: 12px;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 1.6s;
    opacity: 0; */
}

footer{
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(47, 47, 47);
	padding: 32px;
	color: #eee;
	font-size: 1em;
	font-weight: 300;
}

footer h1 {
	color: rgb(218,165,33);
	font-size: 3.8em;
	font-weight: 600;
	margin-bottom: 32px;
	/* font-family: 'Herr Von Muellerhoff', cursive; */
	text-align: center;
	/* animation: left 0.8s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0; */
}

footer .judul{
	color: #eee;
	font-size: 1.8em;
	font-weight: 400;
	margin-bottom: 16px;
	left: 0%;
}

footer td{
	padding-bottom: 12px;
	padding-right: 24px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#eee;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	font-size: 30px;
	padding-top: 8px;
}

.float:hover{
	color: rgb(199, 199, 199);
}


@media screen and (max-width: 650px) {
	#banner {
		/* height: 90%; */
		/* max-height: 250px; */
		/* width: 100%; */
		height: 30%;
		background-size: contain;
	}
	#hero h1 {
		font-size: 60px;
	}
}

@media screen and (max-width: 991px) {
	#banner {
		height: 30%;
		/* background-size: contain; */
		background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
		url(https://images.unsplash.com/photo-1600513513581-1b093ebb3aab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)
			0 50% no-repeat;
	}
	#hero h1 {
		font-size: 75px;
	}

	.photo-left {
		float: left;
		padding-right: 0px;
		
	}
	.photo-right {
		float: right;
		padding-left: 0px;
	}
	.gallery img {
		max-width: 1000px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
